.hero {
  /* background-color: #000; */
  background-color: tomato;
  padding: 50px 0;
}

.text-white {
  color: #fff;
}

.search-bar {
  display: flex;

  justify-content: flex-end;

  margin-top: 20px;

  margin-right: 20px;
}

.search-input {
  padding: 10px;

  width: 300px;

  border: 1px solid #ccc;

  border-radius: 5px;

  font-size: 16px;
}

.search-button {
  padding: 10px 20px;

  background-color: #4caf50;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;

  font-size: 16px;

  margin-left: 10px;
}

.search-button:hover {
  background-color: #45a049;
}
